@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400weight;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
   padding: 35px;
   align-items: center;
}
nav > ul{ 
  display: flex;
 
}
nav li{
  list-style: none;
  margin-right: 45px;
}
nav li a{
  text-decoration: none;
  color: #424242;
  font-weight: 500;
}
header{
  background-color: rgba(255, 144, 14, 0.1);
}

.header-details {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
 
}
.header-title{
  font-size: 3rem;
  margin-top: 45px;
}
.header-description{
  padding: 15px;
  color: #727272;
  line-height: 25px;
}
.btn{
  background-color: #FF900E;
  color: white;
  padding: 16px 25px;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  text-align: center;

}
.banner , .navbar{
  max-width: 1100px;
  margin: 0 auto;
}
.banner-img{
  max-width: 100%;
   margin: 0 auto;
margin-bottom: 30px;
}

/* main section style  */
main{
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 60px;
}
.team{
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 70px;
   max-width: 1000px;
  margin: 0 auto;
}
.team-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.img-size{
  width: 250px;
  height: 250px;
}

.features-title ,.features-description , .btn{
  margin: 18px;
}
.features-description{
  color: #727272;
  font-size: 0.8rem;
  line-height: 20px;
}
#part-1{
  color:#727272;
  font-size: 2.2rem;
  font-weight: 500;
 
}
#part-2{
  color: #131313;
  font-size: 2.2rem;
  font-weight: 700;

}
#part-3{
  color: #FF900E;
   font-size: 2.2rem;
  font-weight: 700;
}

/* Some facts style  */
.facts-title{
  font-size: 2.1rem;
  font-weight: 700;
  color: #131313;
  padding: 5px;
  margin-top: 50px;
}
.facts-description{
  font-size: 1rem;
  color: #727272;
  font-weight: 400;
  width: 600px;
    padding: 5px;
}

/* Facts card style  */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 90px 20px;
}
.facts-card{
   border: 1px solid #FF900E;
  width: 180px;
  height: 180px;
  border-radius: 8px;
  display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;

}
.facts-number{
  font-size: 2rem;
  font-weight: 600;
  color: #424242;
  margin-top: 5px;
  margin-bottom: 6px;
}
.facts-name{
  font-size: 1rem;
  font-weight: 600;
  color: #727272;
}

/* Responsibe media query  */
@media screen and (max-width:576px) {
  .navbar,nav > ul{
    flex-direction: column;
    gap:20px;
  }
  .team{
    flex-direction: column;
  }
.team-img{
  grid-template-columns: repeat(1,1fr);
}
.features{
  margin-left: 35px;
}
.facts-container{
  grid-template-columns: repeat(2,1fr);
padding-left:50px ;
}
.facts-card{
  margin-bottom: 40px;
  
}

}

/* medium device  */
@media screen and (min-width:577px) and (max-width:992px) {
  .team{
    flex-direction: column;

  }
  .features{
    margin: 50px 90px;
  }
}